.progress {
	position: relative;
}
.progress .progress-bar {
	position: absolute;
	overflow: hidden;
	line-height: 20px;
	-webkit-transition: width 2s ease-out;
	-moz-transition: width 2s ease-out;
	-ms-transition: width 2s ease-out;
	-o-transition: width 2s ease-out;
	transition: width 2s ease-out;
}
.progress .progressbar-back-text {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.progress .progressbar-front-text {
	display: block;
	width: 100%;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}