html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 90px;
}
.toolbar {
	margin-top: 15px;
	margin-bottom: 15px;
}	
.usercp {
	margin-top: 15px;
	margin-bottom: 15px;
}		
.wiki {
	margin-top: 15px;
	margin-bottom: 15px;
}			
.fa-sort-asc {			
	top:6px;
	position :relative;				
}
/*#page_title {
    font-size: 26px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 0px;	
	margin-bottom: 15px;	
}
*/
.list_title {
    font-size: 24px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 0px;	
	margin-bottom: 15px;		
}
.section_title {
    font-size: 20px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 0px;	
	margin-bottom: 15px;	
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #666;
	background-color: #efefef;
	padding: 17px 0 18px 0;
	border-top: 1px solid #cccccc;
}
footer a {
	color: #999;
	text-decoration: none;
}
footer a:hover {
	color: #cccccc;
	text-decoration: none;
}
footer a:active {
	color: #cccccc;
	text-decoration: none;
}
.footer-right {
	float: right!important;
	/*margin-right: -15px;*/
}

.permissions_header{
    font-size: 18px;
    font-weight: bold;
	color: #cccccc;
	background-color: #fefefe;
	margin-top: 0px;	
	margin-bottom: 15px;		
}

#mass_actions{display:none}
