html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 90px;
}
.toolbar {
	margin-top: 15px;
	margin-bottom: 15px;
}	
.usercp {
	margin-top: 15px;
	margin-bottom: 15px;
}		
.wiki {
	margin-top: 15px;
	margin-bottom: 15px;
}			
.fa-sort-asc {			
	top: 6px;
	position: relative;				
}
.page-header {
	margin-top: 8px;
	font-weight: bold;
}

.section_title {
    font-size: 20px;
    font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
	padding: 16px 0 8px 0;	
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #666;
	background-color: #efefef;
	padding: 17px 0 18px 0;
	border-top: 1px solid #cccccc;
}
footer a {
	color: #999;
	text-decoration: none;
}
footer a:hover {
	color: #3498db;
	text-decoration: none;
}
footer a:active {
	color: #cccccc;
	text-decoration: none;
}
.footer-right {
	float: right!important;
	/*margin-right: -15px;*/
}

.permissions_header{
    font-size: 18px;
    font-weight: bold;
	color: #cccccc;
	background-color: #fefefe;
	margin-top: 0px;	
	margin-bottom: 15px;		
}

#mass_actions{display:none}

.btn {
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}

a {
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.navbar-brand {
	font-weight: bold;
}

.navbar-brand:hover {
	color: #555 !important;
	background-color: #e6e6e6 !important;
}

.navbar-nav>li>a {
	font-weight: bold;
}

.navbar-nav>li>a:hover {
	color: #555 !important;
	background-color: #e6e6e6 !important;
}

.box {
	position: relative;
	display: block;
	padding: 10px 15px;
}

textarea {
	resize: vertical;
}